
.sidebar {
    width:15%;
    text-align: center;
    margin: 12px;
}

.menu {
    margin-top: 12px;
    cursor: pointer;
}

.menu-item{
    align-items: center;
}

.text-item {
    margin-left: 8px;
}

.logo {
    margin-left: 8px;
}

.sidebar-top{
    cursor: pointer;
}